
header { background-color: white;

}

.logo {  width: 160px;
    margin-left: 110px;

}

body {
    background: url("staff/img/background.jpeg") no-repeat;
    background-size: cover;
}
video {

    margin-left: 20%;
    margin-top: 4%;
    margin-bottom: 4%;

}

.btn-group button {
    background-color: #8ec63f; /* Green background */
    border: 1px solid white; /* Green border */
    color: white; /* White text */
    padding: 25px 30px; /* Some padding */
    /* Pointer/hand icon */
    float: right; /* Float the buttons side by side */
    font-size:20px;
    font-family: 'Raleway', sans-serif;


}
.menu {
margin-right:120px;

}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}
.btn-group button:active {
    background-color: #3e8e41;
}

.nadpis
{
    background-color: #8dc63f;
    border:none;
    text-align: center;
    position: relative;
    color: black;
    font-size: 50px;
}



