img{
    padding: 5px;
}

.back{
    text-decoration: none;
    font-size: 35px;

    padding-left: 35px;
}
fa fa-chevron-left {
    aria-hidden:true
}

.nadpis
{
    background-color: #8dc63f;
    border:none;
    text-align: center;
    position: relative;
    color: white;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}